*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#button{
    border: 2px solid black;
    background-color: red;
    padding: 15px;
    border-radius: 50%;
    left: 95%;
    position: fixed;
    bottom: 50vh;
}

#container{
    width: 100vw;
    height: 200vh;
}

header{
    width: 100%;
    height: 100px;
    background-color: blue;
}

nav{
    width: 100%;
    height: 50px;
    background-color: green;
    position: sticky;
    top: 0;
}